/*padding: 0 25px;*/
.movie_container {
    /*background-color: white;*/
    display: inline-block;
   
    padding: 0 25px;
    max-height: 250px;
    max-width: 170px;
    margin:5px 0px;
	
    box-shadow: 0 0 14px 4px black;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .movie_container {padding: 0 0px;}
}

.movie-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    padding: 0 5px;
    max-width: 120px;
    text-align: left
}


.movie-image-container {
    position: relative;
    display: inline-block;
}

.btn {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

/* Style the button and place it in the middle of the container/image */
.movie-image-container .btn {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.movie-image-container .btn:hover {
    background-color: black;
}

.browse-movie-year {
    font-size: .85em;
    color: #919191;
    padding: 0 5px;
}

