<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media Player - {{ title }}</title>
    
    <link type="text/css" rel="stylesheet" href="static/css/main.css">
    <link type="text/css" rel="stylesheet" href="static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="static/css/Site.css">




    <meta name="msapplication-TileImage" content="static/img/favicon/ms-icon-144x144.png">
    <link type="text/css" rel="stylesheet" href="static/css/movie_index.css">



    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  </head>

  <body class="fred">

      <div class="container body-content">
          {% block play%}{% endblock %}
      </div>
  
  </body>



</html>
